.container {

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {

    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #e6e6e6;
    padding: 20px 40px;

}
/* 
minHeight:'100vh',
display:'flex',
alignItems:'center',
justifyContent:'center' */